*{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(layon.jpg);
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-position: center;
    background-attachment: fixed;
    overflow: scroll;
    
}
nav{ 

    width: 100%;
    height: 60px;
    background-color: beige;
}

nav p{
    float: left;
    line-height: 50px;
    font-family: fantasy;
    color: #fff; 
    font-size: 25px;
    padding-right:20px;
    background-color:tan;
    height: 60px;
    margin-left: 5px; 
}   
nav ul{
    
    float: left;
}
nav ul li{
     
     float: left;
     list-style-type: none;
     position: relative;     
    } 
   
nav ul li a{
    text-decoration: none;
    display: block;
    padding: 22px 14px;
    color: black;
    font-weight:normal;    
}
nav ul li a:hover{

    background-color: chartreuse;
    height: 60px;
}
nav ul li ul{
    display: none;
    position: absolute;
    background-color: #fff;   
    padding: 5px;
    border-radius: 4px;
} 

nav ul li:hover ul{
    display: block;
    background-color: silver;
}
nav ul li ul li{
    width: 180px;
    border-radius: 0px 0px 6px 6px ;
    
}    
nav ul li ul li a:hover{
    padding: 8px 0px;
    background-color: chartreuse;
            
}
nav input[type=text]{
     box-sizing: border-box;
     width: 130px;
     border: 2px solid rgba(0, 255, 170, 0.11);
     border-radius: 4px;
     background-color: #dcdcdc;
     -webkit-transition:0.4s ease-in-out;
     transition:0.4s ease-in-out;
     font-size: 13px;
     padding: 12px 20px 10px 40px;
     margin-top: 10px;
     
} 
nav input[type=text]:focus {
width: 20%;
float: right;
margin-left: 13px;

}
.welcome{
  background-color: cornsilk;
  cursor: pointer;
  height: 400px;
  width: 600px;
  margin-left: 10%;
  margin-top: 9%;
  border-radius: 15px;
  font-size: 14px;
}

h1{
    background-color: khaki;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    width: 100%;

}
 h2{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-weight: bolder; padding-top: 10px;text-align: center;
} 
div p{
    color: black;
    padding: 15px 15px;
    line-height: 2rem;
    letter-spacing:  1px;
    text-align: center;
}
  p.intro::first-letter{

    font-size: 200%;
    color:blue;
  }

.signature{
    position: absolute;
   height: auto;
   width: 25%;   
   margin-top: -30%;
   margin-left: 70%;
   background-color: floralwhite;
   background-size: cover;
   cursor: pointer;
   font-size: medium;
   box-shadow: lightblue;
   box-sizing: border-box;
   padding: 2px 2px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: center;
   
}
.dec{
    padding: 6px 6px;
    border-radius: 15px;
    margin:2px 1px;
    width: 75%;
    background-color:gainsboro;
    
}

.clip{
    width: 50%;
    border-radius: 11px;
    height: 20px;
    background-color: mediumspringgreen;
    box-sizing: border-box;
    margin: 3px;
    
}

h5{ color: white;
font-family: cursive;
 font-style: italic;
font-size: x-large;
font-weight: bold;
padding-top: 10px;
background-color: rgba(161, 165, 168, 0.205);
}
h5 span{
    padding-left: 50%; color: red;
}
 .gallery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center; 
  margin: 40px 20px 0px 20px;
  
}
img{max-width: 70%;
    height: 500px; 
background-color: rgba(0, 255, 170, 0.11);
padding: 4px;
border: 1px solid rgb(107, 145, 50);
}
.gallery.photo{


}


.photo h3{
    font-family:cursive;
    font-size: 3em;
    font-weight:bolder;
    border-bottom: 3px solid greenyellow;
    color: rgb(252, 248, 250);
    margin-bottom: 50px;


 }
 .photo h3 span{
  font-weight: 600px ;
  color: turquoise;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
 .grim{
  display: flex;
  justify-content:  center;
  flex-direction: column-reverse;   
 }
 .hallo { 
     background-color: rosybrown;
     padding: 4px;
     color: black;
     text-align: center;
     text-decoration: none;
     margin-right:35% ;
     margin-left: 35%;
 } 

 div.un{
     background-image: linear-gradient(to left,rgba(66, 66, 75, 0.199), white);
 }